adapt-installer @ http://mozartdb.aka.corp.amazon.com/packages/adapt_installer?no_deps
ansi2html==1.8.0
APLDeveloperTools==1.0.150.0
APLPilot==1.0.113.0
attrs==23.2.0
blinker==1.7.0
boto3==1.24.75
botocore==1.27.75
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
dash==2.14.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
distlib==0.3.7
exceptiongroup==1.2.1
filelock==3.12.2
Flask==3.0.0
h11==0.14.0
idna==3.6
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
MarkupSafe==2.1.3
nest-asyncio==1.5.8
outcome==1.3.0.post0
packaging==23.0
pathlib==1.0.1
platformdirs==3.10.0
plotly==5.18.0
pypiserver==1.5.1
PySocks==1.7.1
python-dateutil==2.8.2
requests==2.31.0
retrying==1.3.4
s3transfer==0.6.0
selenium==4.20.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
tenacity==8.2.3
trio==0.25.0
trio-websocket==0.11.1
typing_extensions==4.11.0
urllib3==1.26.12
virtualenv==20.21.0
Werkzeug==3.0.1
wsproto==1.2.0
zipp==3.17.0
